.bgSingIn{
    background-color: #130f17;
}

.titleSingIn{
    font-size: 4.5rem;
}

.inputSingIn{
    text-indent: 7px;
    transition: 0.2s linear;
}
.inputSingIn::placeholder{
    color: rgb(200, 200, 200);
    font-weight: bold;
}
.inputSingIn:focus{
    outline: none ;
    background-color: #303030;
}

.btnSingIn{
    background-color: #5B2C6F ;
    color: rgb(240, 240, 240) ;
    transition: 0.15s linear ;
}
.btnSingIn:hover{
    transition: 0.15s linear;
    background-color: #4A2359 ;
}
.hub-span{
    color:rgb(255, 50, 50)
}