.bgSingIn{
    background-color: #130F17;
}

.titleSingIn{
    font-size: 6rem;
    color: #5B2C6F !important;
}

.inputSingIn{
    text-indent: 7px;
    transition: 0.2s linear;
}
.inputSingIn::placeholder{
    color: rgb(200, 200, 200);
    font-weight: bold;
}
.inputSingIn:focus{
    outline: none !important;
    background-color: #303030;
}

.btnSingIn{
    background-color: #5B2C6F !important;
    color: rgb(240, 240, 240) !important;
    transition: 0.15s linear !important;
}
.btnSingIn:hover{
    transition: 0.15s linear;
    background-color: #4A2359 !important;
}